body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header-hero,
a {
  background-color: #1F2937;
  font-size: 18px;
  color: #E5E7EB;
}

.header,
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30vh 100px;
}

.header .logo {
  font-weight: bold;
  font-size: 24px;
  color: #F9FAF8;
}

.header .links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
}

a {
  text-decoration: none;
}

.hero {
  gap: 30px;
  align-items: stretch;
}

.left,
.right {
  flex: 1;
}

.left>* {
  margin: 5px 0;
}

.right {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .main {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

button {
  font-size: 18px;
  font-weight: bold;
  color: #E5E7EB;
  background-color: #3882F6;
  border-radius: 10px;
  border: none;
  padding: 10px 30px;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.info {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  margin-bottom: 50px;
}

.item {
  width: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.item img {
  height: 150px;
  width: 150px;
  border-style: solid;
  border-color: #3882F6;
  border-radius: 20px;
}

.quote {
  background-color: #E5E7EB;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  padding: 70px 350px;
}

.author {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  text-align: end;
}

.action {
  background-color: #3882F6;
  color: #E5E7EB;
  margin: 80px 30vh;
  padding: 50px 100px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.action .call {
  font-weight: bold;
}

.action p {
  margin: 0;
}

.action button {
  border: solid;
  border-color: #E5E7EB;
}

.footer {
  background-color: #1F2937;
  color:#E5E7EB;
  text-align: center;
  padding: 20px;
}
